<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ethan.pokerjournal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Notification"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginPage"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity">
        </activity>
        <activity android:name=".SessionFormActivity" />
        <activity android:name=".SessionDetailActivity" />
        <activity android:name=".SessionEditActivity" />
        <activity android:name=".LiveSessionTracker" />
        <activity android:name=".LiveSessionFormActivity" />
        <activity android:name=".BankFormActivity" />
        <activity android:name=".BankDetailActivity" />
        <activity android:name=".BankEditActivity" />
        <activity android:name=".StatsGraphActivity" />
        <service android:name=".LiveSessionChronometerService"/>
        <receiver android:name=".NotificationReceiver"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.ethan.pokerjournal.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

</manifest>